<h2>ABOUT</h2>

<div class="container">
  <div class="columns">
    <div class="column col-2"></div>
    <div class="column col-6">
      <p class="p-margin">My name is Daniella Lubkowitz, and I create digital
        artworks under the artist name Ztiwo. The name Ztiwo is based on the
        first five letters of my last name if you put each letter in reverse
        order. I have been painting since I was little, but turned from canvas
        and art blocks to digital works in 2013. In 2020, I opened up an art
        account on Instagram under the name Ztiwo, where I posted regularly
        during 2020 and 2021. I have since gained followers and been able to
        create art for different projects, such as album covers, podcast covers
        and commissions.
      </p>
    </div>
    <div class="column col-4"><img
        src="portrait.jpg"
        alt=""
        style="width:200px;height:260px;"
      /></div>
  </div>
</div>