<div class="hero">
  <div class="hero-body">
    <h2 class="h2-details text-gray">This is,</h2>
    <h1 class="headline-details"><strong>ZTIWO</strong></h1>
    <p class="p-margin">Welcome to my artwork portfolio website, all artworks
      have been made under my artist name Ztiwo. Here you can find my artworks
      displayed under the link Artworks, which you can find in the navigation
      bar on the top of the website. You can access the comments and FAQ in the
      same bar, where you can post comments and questions. For any inquiries,
      contact me by either Instagram or my email, which you can find under
      Contact. Welcome!</p>
  </div>
</div>